.cars-body {
  max-width: 90%;
  margin: 50px auto;
}

.cars-grid-tile {
  border: 1px solid #c2185b;
  border-radius: 5px;
}

.cars-grid-tile__container {
  padding: 15px;
}

.cars-grid-tile__image {
  padding: 15px;
}

.cars-grid-tile__content {
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 24px;
}

.cars-grid-tile__select-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
